<h1>Thêm lớp</h1>
<form action="/add" method="post">
    Name: <input type="text" name="name"><br>
    Number student: <input type="text" name="numberStudent"><br>
    <button>Thêm lớp</button>
</form>